html {
  height: 100%;
  background:url(https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&auto=format&fit=crop&w=2251&q=80) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

body {
  margin: 0 auto;
  /* max-width: 1200px; */
  background-color: transparent;
  text-align: center;
  letter-spacing: 2px;
  color: #ededed;
}

.header1 {
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #b7886e;
}
.body {
   margin-top: 400px;
}

h1 {
  color: #ededed;
}
h3 {
  color: #b7886e;
}
a {
  color: #b7886e;
}
a:hover {
  color: #7be880;
  text-decoration: none;
}

input {
  color: #412c20;
  background-color: #b7886e;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}
input:hover {
  background-color:#7be880;;
}

.logOut {
  margin-top: 2px;;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:black;
  padding:8px;
  text-align: center;
}
