@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Item>

<h1>Items for @User.Identity.Name</h1>
<br>
@if (Model.Any())
{
  
    @foreach (Item item in Model)
    {
      <h3>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</h3>
    }
  
} 
else
{
  <h3>No items have been added yet!</h3>
}
<br>
<h4>@Html.ActionLink("Add new item", "Create")</h4>

<h4>@Html.ActionLink("Home", "Index", "Home")</h4>