@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h1>Add a new category</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new category" />
}
<br>
<h4>@Html.ActionLink("Show all categories", "Index")</h4>